ENVIRONMENT=local

DB_HOST=192.168.68.180
DB_PORT=54180
DB_USER=dev_deduplicator
DB_PASSWORD=XOT18N2FJ8uds4o4WR9vSAIA30F1T3J0meCwod0h2QxvJd59eU5Iu18NmwGVl3m
DB_NAME=dbdev_deduplicator

# Optional: Add any other configuration variables below
# SCAN_PATH=/path/to/scan  # Default directory to scan if none provided
LOG_FILE=/var/log/dedupe/dedupe.log
ERROR_LOG_FILE=/var/log/dedupe/error.log

RABBITMQ_HOST=pinky.tail87917.ts.net
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/deduping
RABBITMQ_USER=dedupe
RABBITMQ_PASSWORD=dedupe
RABBITMQ_QUEUE=dedup_backup
